$dark: #111111;
$grey: #4f4f4f;
$darkGrey: #1d1f21;
$red: #fb1d25;
$blue: #0ba1d4;
$aqua: #01d2d7;
$green: #72ce3f;
$purple: #671690;
$yellow: #c9db36;
$white: #ffffff;

$background-hex: url(./../image/hex-back.jpg);
$background-bar: url(./../image/black-bar-back.jpg);
$background-tech-1: url(./../image/tech-back-1.jpg);
$background-tech-2: url(./../image/tech-back-2.jpg);