@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: #ffffff;
  min-height: 100vh;
  background-image: url(./../image/hex-back.jpg);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

aside {
  margin: 0;
  padding-top: 20px;
  width: 23%;
  min-height: 100vh;
  float: left;
}
aside .side-item {
  width: calc(100% - 50px);
  margin: 0;
  margin-bottom: 2px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.529);
  color: #0ba1d4;
  border-left: 10px solid #0ba1d4;
  border-bottom: 3px solid #0ba1d4;
  cursor: pointer;
  transition: all 0.3s;
}
aside .revealed {
  background-color: #0ba1d4;
  color: #111111;
  font-weight: bold;
}

main {
  margin: 0;
  margin-left: 23%;
  padding: 0;
  width: 77%;
  position: relative;
}
main #load-cover {
  position: absolute;
  top: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 100%;
  overflow: hidden;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  border-radius: 5px;
  background-color: transparent;
  pointer-events: none;
}
main #load-cover.active {
  background-color: #4f4f4f;
  pointer-events: all;
}
main #load-cover.active::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(105, 105, 105, 0) 0, rgba(105, 105, 105, 0.2) 20%, rgba(105, 105, 105, 0.5) 60%, rgba(105, 105, 105, 0));
  animation: shimmer 2s infinite ease-in-out;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
main table {
  border-collapse: collapse;
  border-radius: 10px;
  table-layout: fixed;
  width: 100%;
  background-color: #1e1e1e;
}
main table th,
main table td {
  padding: 5px 10px;
  border: 1px solid #4f4f4f;
}
main table th.red, main table th.green,
main table td.red,
main table td.green {
  font-weight: bold;
}
main article {
  width: calc(100% - 20px);
  padding-top: 20px;
  margin: auto;
}
main article section {
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 5px;
  background: rgba(225, 225, 225, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.2s;
}
main article section .section-title {
  color: #0ba1d4;
  border-bottom: 2px solid #0ba1d4;
}
main article section .subsection {
  border-left: 10px solid #0ba1d4;
  padding-left: 10px;
  padding-bottom: 10px;
}

summary {
  font-size: large;
  font-weight: bold;
  color: #0ba1d4;
  cursor: pointer;
}

.mono {
  font-family: "Courier New", Courier, monospace;
  font-family: "Overpass Mono", monospace;
  background: #111111;
  padding: 2px 7px;
  border-radius: 4px;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #0ba1d4;
}

.purple {
  color: #671690;
}

.green {
  color: #72ce3f;
}

.red {
  color: #fb1d25;
}

.yellow {
  color: #c9db36;
}

.grey {
  color: #4f4f4f;
}

.console {
  color: white;
  background-color: black;
  font-family: consolas;
  padding: 10px 0;
  padding-left: 20px;
  width: calc(100% - 20px);
  border-radius: 5px;
  line-height: 1.5em;
}

.same-pg-link {
  color: #b0e8fb;
  font-style: italic;
}

@media only screen and (max-device-width: 480px) {
  article section {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 5px;
    transition: none;
  }
  article section article {
    padding: 2px;
  }
  article section article ul li {
    margin-bottom: 5px;
    text-align: justify;
  }
  article section .subsection {
    border-left: 4px solid #0ba1d4;
    padding-left: 7px;
  }
  article .unrevealed {
    border-radius: 0;
    border-bottom: 3px solid #0ba1d4;
  }
}/*# sourceMappingURL=cheatsheet.css.map */