* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table th,
table td {
  border: 1px solid #4f4f4f;
  padding: 5px 10px;
}

nav {
  background-color: #111111;
  margin: 0;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav #logo {
  font-size: xx-large;
  cursor: pointer;
}
nav #logo a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
nav #menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
nav #menu .nav-link {
  color: #0ba1d4;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 4px solid #0ba1d4;
  min-width: 150px;
  transition: all 0.3s;
}
nav #menu .nav-link:hover {
  background-color: #1d1f21;
}
nav #menu .nav-link.active {
  font-weight: bold;
  border-bottom: 4px solid #087ca4;
  background-color: #0ba1d4;
  color: #111111;
}
nav #menu .nav-link.btn {
  background-color: #0ba1d4;
  color: #ffffff;
  min-width: auto;
}
nav #menu .nav-link.btn.btn-red {
  background-color: #fb1d25 !important;
  border-color: #e1040c !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: auto;
  text-align: center;
  color: #111111;
  background-color: #0ba1d4;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
footer a {
  font-weight: bold;
  color: #ffffff;
}

#loader {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: calc(100svh + 1px);
  background-color: #111111;
  opacity: 1;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader .lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#loader .lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  animation: lds-grid 1.2s linear infinite;
}
#loader .lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
#loader .lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
#loader .lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
#loader .lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
#loader .lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
#loader .lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
#loader .lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
#loader .lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
#loader .lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

#loader.hidden {
  pointer-events: none;
  opacity: 0;
}

.mono {
  font-family: "Courier New", Courier, monospace;
  font-family: "Overpass Mono", monospace;
  background: #111111;
  padding: 2px 7px;
  border-radius: 4px;
}

.bold {
  font-weight: bold;
}

.courier {
  font-family: "Courier New", Courier, monospace;
}

.blue {
  color: #0ba1d4;
}

.purple {
  color: #ca86ec;
}

.green {
  color: #72ce3f;
}

.red {
  color: #fb1d25;
}

.yellow {
  color: #c9db36;
}

.grey {
  color: #4f4f4f;
}

.itallic {
  font-style: italic;
}

.small {
  font-size: small;
}

@media only screen and (max-device-width: 500px) {
  nav {
    background-color: #111111;
    margin: 0;
    width: 100%;
    display: block;
  }
  nav #logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #logo a {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  nav #menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    max-height: 1000px;
    overflow: hidden;
  }
  nav #menu .nav-link {
    width: 100%;
  }
  nav #menu.hidden {
    max-height: 0;
  }
  .mobile-hidden {
    display: none !important;
  }
}
@media (min-width: 500px) {
  .pc-hidden {
    display: none !important;
  }
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
body {
  position: relative;
  min-height: 100svh;
  background-color: #111111;
  color: #ffffff;
  background-image: url(./../image/hex-back.jpg);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-size: cover;
}

#banner {
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
}
#banner #logo {
  padding: 0;
  margin: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 7rem;
  color: #0ba1d4;
}
#banner #prog {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
}

.yellow {
  color: #c9db36;
}

.blue {
  color: #0ba1d4;
}

#explanation {
  margin: 20px 0;
  padding: 10px;
  width: calc(100% - 40px);
  max-width: 1200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#main-cont {
  position: relative;
}
#main-cont #abs {
  position: absolute;
  top: 4vh;
  right: 5vw;
  display: flex;
}
#main-cont #abs #start-code,
#main-cont #abs #log,
#main-cont #abs #user {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  cursor: pointer;
  outline: none !important;
  transition: all 0.3s;
  background: #0ba1d4;
  border: 0;
  border-radius: 5px;
  border: 0 solid transparent;
}
#main-cont #abs #start-code:hover,
#main-cont #abs #log:hover,
#main-cont #abs #user:hover {
  box-shadow: 0px 15px 25px -5px black;
  transform: scale(1.03);
}
#main-cont #abs #start-code:active,
#main-cont #abs #log:active,
#main-cont #abs #user:active {
  transform: scale(0.98);
}
#main-cont #abs #log {
  margin-right: 10px;
  height: 40px;
  aspect-ratio: 1;
}
#main-cont #abs #user {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 10px;
  height: 40px;
  overflow: hidden;
}
#main-cont #abs #user img {
  height: 40px;
  aspect-ratio: 1;
}
#main-cont #abs #user span {
  padding: 10px;
}

#actions {
  margin: 20px 0 40px 0;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#actions a button {
  width: 250px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  border: 0 solid transparent;
  outline: none !important;
  border: 0;
  outline: none;
  box-shadow: 0px 5px 10px black;
  transition: all 0.3s;
}
#actions a button:hover {
  box-shadow: 0px 15px 25px -5px black;
  transform: scale(1.03);
}
#actions a button:active {
  box-shadow: 0px 4px 8px #030303;
  transform: scale(0.98);
}
#actions #red button {
  background: #fb1d25;
  border-bottom: 4px solid #af0309;
}
#actions #blue button {
  background: #671690;
  border-bottom: 4px solid #280838;
}
#actions #green button {
  background: #72ce3f;
  border-bottom: 4px solid #458522;
}

@media only screen and (max-device-width: 480px) {
  #actions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .hide-screen {
    display: none;
  }
  #main-cont #abs {
    top: 2vh;
    right: 4vw;
  }
  #main-cont #abs #log,
  #main-cont #abs #user {
    margin-right: 3px;
  }
}/*# sourceMappingURL=style.css.map */